@import "vars";
@import "font-roboto";

body {
  font-family: $font-stack-regular;
  font-size: $font-size-base;
  color: $color-base;
  margin: 1em;
}

button:active {
  background: #96b192;
  box-shadow: 0 5px 20px #979797;
}

button {
  font-size: 2.2em;
  background: #9fb69c;
  box-shadow: 0 5px 20px #cccccc;
  padding: 0.5em;
  color: #ffffff;
  display: block;
  width: 6em;
  outline: none;
  border: none;
}

